<h1>New Passenger</h1>

<%= render 'form', passenger: @passenger %>

<% if logged_in? && is_admin?%>
  <%= link_to "Back", show_passengers_admin_path(@admin) %>
<% else %>
  <%= link_to "Login", root_path %>
<% end %>